/*重写网页滚动条*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(241, 242, 243, 0%);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 202);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 162, 163);
}
/*将字体应用到前端*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FrontFont;
}
/*网页前端背景图相关位置设置*/
.bg{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
/*页面布局*/
.page {
    min-height: 100vh;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: lighter;
}
.container {
    position: relative;
    max-width: 800px;
    width: 95%;
    padding: 45px 65px;
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
}

/*
------------------
以下为可以定制的内容，具体作用参考注释
------------------
*/
/*前端全局字体*/
@font-face {
    font-family: FrontFont;
    src: url("/static/yshst.ttf"); /*修改这里的字体文件地址来修改字体*/
}

/*前端输入框美化*/
input{
    outline: none; /*此处去除输入框外部的边框线*/
}
.front-input{ /*默认状态下的文本框*/
    padding: 5px;
    border: none;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(3px);
    color: white;
    margin-bottom: 4px;
    transition: all 200ms;
}
.front-input:hover{ /*鼠标悬浮在上的文本框*/
    backdrop-filter: blur(6px);
    background-color: rgba(255,255,255,0.05);
    transition: all 200ms;
}
.front-input:focus{ /*选择状态下的文本框*/
    backdrop-filter: blur(7px);
    background-color: rgba(255,255,255,0.03);
    transition: all 200ms;
}

/*前端按钮美化*/
.front-button{ /*默认的前端的按钮样式*/
    border-radius: 3px;
    padding: 6px;
    color: white;
    border: none;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    transition: all 200ms;
}
.front-button:hover{ /*鼠标悬浮在上面的前端的按钮样式*/
    padding: 7px;
    background-color: rgba(255,255,255,0.3);
    transition: all 200ms;
}
.front-button:active{ /*被按下的前端的按钮样式*/
    padding: 5px;
    background-color: rgba(255,255,255,0.35);
    backdrop-filter: blur(4px);
    transition: all 200ms;
}

/*前端超链接美化*/
a { /*默认的超链接样式*/
    text-decoration: none;
    color: #70c4f1;
    transition: all 100ms;
}
a:hover{ /*鼠标悬浮在上面时的超链接的样式*/
    color: #54b3e5;
    transition: all 100ms;
}
a:active{ /*获取到焦点时的超链接的样式*/
    color: #36a4e0;
    transition: all 100ms;
}


.nav{ /*导航栏*/
    position: fixed;
    top:0;
    padding: 10px;
    right: 0;
}
.nav-btn{ /*默认的导航栏按钮样式*/
    color: white;
}
.nav-btn:active{ /*点击状态的的导航栏按钮样式*/
    color:white;
}

.tip{ /*警告提示文本*/
    color: #f64d4d;
    text-align: center;
}
.title{ /*标题文本样式*/
    text-align: center;
    margin-bottom: 30px;
}
.search{ /*默认的搜索、查询可用备案号的搜索框样式*/
    border: #e1e1e1 solid 1px;
    border-radius: 50px;
    width: 350px;
    line-height: 1;
    font-size: 16px;
    padding: 15px 30px;
    color: #d7d7d7;
    text-align: center;
    margin-bottom: 30px;
    background-color: transparent;
    transition: all 200ms;
}
.search:focus{ /*选中后的搜索、查询可用备案号的搜索框样式*/
    width: 100%;
    color: #fff;
    background-color: rgba(197, 197, 197, 0.3);
    transition: all 200ms;
}

/*保证所有输入框的占位符都是白色的*/
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
input::-webkit-input-placeholder{
    color: white;
}

/*结果弹窗的样式*/
.result{
    height: 500px;
    padding: 45px 65px;
    box-shadow: none;
    background: rgba(120,129,147,.3);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    transition: all 200ms;
    overflow-y: auto;
}
.result:hover{
    box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.43);
    backdrop-filter: blur(12px);
    transition: all 200ms;
}
.info {
    min-width: 240px;
    border: #e1e1e1 solid 1px;
    border-radius: 10px;
}
.info .info-item~.info-item {
    min-width: 239px;
    border-top: #e1e1e1 solid 1px;
}
.info .info-item {
    min-width: 239px;
    padding: 0;
    display: flex;
}
.info .info-item .label {
    border-right: #e1e1e1 solid 1px;
    width: 120px;
    padding: 12px 20px;
    text-align-last: justify;
}
.info .info-item .value {
    flex: 1;
    padding: 12px 20px;
}
.back_btn{ /*默认状态的网页左上角的返回按钮样式*/
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    color: white;
    background-color: rgba(255,255,255,0.01);
    border: none;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    cursor: pointer;
    transition: all 100ms;
}
.back_btn:hover{ /*鼠标悬浮状态的网页左上角的返回按钮样式*/
    backdrop-filter: blur(8px);
    background-color: rgba(255,255,255,0.1);
    transition: all 100ms;
}
.back_btn:focus{  /*点击时的网页左上角的返回按钮样式*/
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    transition: all 100ms;
}