<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>{$PAGE_TITLE} - {$SETTING_SITENAME}控制台</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        @font-face {
            font-family: YSHST;
            src: url("/static/hmsans.ttf");
        }
    </style>
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/css/style.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/css/components.css">
</head>
<body>
