
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
            <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                </ul>
            </form>
            <ul class="navbar-nav navbar-right">
                <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
                    <div class="dropdown-menu dropdown-list dropdown-menu-right">
                        <div class="dropdown-header">公告
                            <div class="float-right">
                                <a href="#">我已查看</a>
                            </div>
                        </div>
                        <div class="dropdown-list-content dropdown-list-icons">
                            <a href="#" class="dropdown-item dropdown-item-unread">
                                <div class="dropdown-item-icon bg-primary text-white">
                                    <i class="fas fa-code"></i>
                                </div>
                                <div class="dropdown-item-desc">
                                    Template update is available now!
                                    <div class="time text-primary">2 Min Ago</div>
                                </div>
                            </a>
                            <a href="#" class="dropdown-item">
                                <div class="dropdown-item-icon bg-info text-white">
                                    <i class="far fa-user"></i>
                                </div>
                                <div class="dropdown-item-desc">
                                    <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                                    <div class="time">10 Hours Ago</div>
                                </div>
                            </a>
                            <a href="#" class="dropdown-item">
                                <div class="dropdown-item-icon bg-success text-white">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="dropdown-item-desc">
                                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                                    <div class="time">12 Hours Ago</div>
                                </div>
                            </a>
                            <a href="#" class="dropdown-item">
                                <div class="dropdown-item-icon bg-danger text-white">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                                <div class="dropdown-item-desc">
                                    Low disk space. Let's clean it!
                                    <div class="time">17 Hours Ago</div>
                                </div>
                            </a>
                            <a href="#" class="dropdown-item">
                                <div class="dropdown-item-icon bg-info text-white">
                                    <i class="fas fa-bell"></i>
                                </div>
                                <div class="dropdown-item-desc">
                                    Welcome to Stisla template!
                                    <div class="time">Yesterday</div>
                                </div>
                            </a>
                        </div>
                        <div class="dropdown-footer text-center">
                            <a href="#">查看所有 <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                    <i class="far fa-user"></i>
                    <div class="d-sm-none d-lg-inline-block">{$USER.displayname}</div></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title">用户名：{$USER.username}</div>
                        <div class="dropdown-title">加入时间：{php}echo date('Y-m-d H:i:s',$USER["join_time"]);{/php}</div>
                        <a href="/user.php/icp" class="dropdown-item has-icon">
                            <i class="fas fa-bolt"></i> 我的备案列表
                        </a>
                        <a href="/user.php/settings" class="dropdown-item has-icon">
                            <i class="fas fa-cog"></i> 个人设置
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="/user.php/login/loginout" class="dropdown-item has-icon text-danger">
                            <i class="fas fa-sign-out-alt"></i> 登出
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a>{$SETTING_SITENAME}管理后台</a>
                </div>
                <div class="sidebar-brand sidebar-brand-sm">
                    <a>ICP</a>
                </div>
                <ul class="sidebar-menu">
                    <li class="{if ($NAVID==0)}active{/if}"><a href="/user.php" class="nav-link"><i class="fas fa-home"></i><span>主页</span></a></li>
                    <li><a href="/" class="nav-link"><i class="fas fa-backward"></i><span>返回前台</span></a></li>
                    <li class="menu-header">备案管理</li>
                    <li class="{if ($NAVID==1)}active{/if}"><a class="nav-link" href="/user.php/icp"><i class="fas fa-file"></i><span>所有备案</span></a></li>
                    <li class="{if ($NAVID==2)}active{/if}"><a class="nav-link" href="/user.php/icp/add"><i class="fas fa-circle"></i><span>新增备案</span></a></li>
                    <li class="menu-header">其他</li>
                    <li class="{if ($NAVID==3)}active{/if}"><a class="nav-link" href="/user.php/settings"><i class="fas fa-cog"></i><span>个人设置</span></a></li>
                    {if ($USER["u_type"] > 0)}
                        <div class="mt-4 mb-4 p-3">
                            <a href="/admin.php" class="btn btn-primary btn-lg btn-block btn-icon-split">
                                <i class="fas fa-rocket"></i> 管理员入口
                            </a>
                        </div>
                    {/if}
                </ul>
            </aside>
        </div>
    </div>
</div>