<script src="/static/stisla-2.2.0/dist/assets/modules/jquery.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/popper.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/tooltip.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/moment.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/izitoast/js/iziToast.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/page/modules-toastr.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/sweetalert/sweetalert.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/page/modules-sweetalert.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/stisla.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/scripts.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/custom.js"></script>
</body>
</html>