{include file='public/head'}
{include file='public/nav'}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>备案列表</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>所有</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>网站名称</th>
                                    <th>网站主页</th>
                                    <th>备案域名</th>
                                    <th>站点所有人</th>
                                    <th>站点状态</th>
                                    <th>更新时间</th>
                                    <th>备案号</th>
                                    <th>操作</th>
                                </tr>
                                {foreach $icp_list as $id=>$key}
                                    {if ($key.is_remove==0)}
                                        <tr>
                                            <td>{$id}</td>
                                            <td>{$key.site_name}</td>
                                            <td><a href="{$key.site_main_url}">{$key.site_main_url}</a></td>
                                            <td>{$key.site_icp_url}</td>
                                            <td>{$key.site_owner}</td>
                                            <td><div class="badge">{$key.icp_status}</div></td>
                                            <td>{php}echo date('Y-m-d H:i:s',$key["icp_time"]);{/php}</td>
                                            <td>{$key.icp_number}</td>
                                            <td><button onclick="del({$key.icp_number})" class="btn btn-danger">撤销备案</button></td>
                                        </tr>
                                    {/if}
                                {/foreach}
                            </table>
                            <script type="application/javascript">
                                function del(id){
                                    swal("你确定要删除吗",{
                                        buttons: {
                                            cancel: true,
                                            confirm: {
                                                text: "确定！",
                                                value: "yes",
                                            },
                                        },
                                    }).then((value) => {
                                        if(value === "yes") {
                                            fetch(`/user.php/icp/del?id=${id}`)
                                            swal("完成","已发送请求").then(() => {
                                                window.location.reload()
                                            })
                                        }
                                    });
                                    iziToast.warning();
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{include file='public/foot'}