{include file='public@inc/head'}
<div class="page">
    <div class="container">
        <div class="result">
            <h2 class="title">填写基本信息</h2>
            <h6 class="title">这些信息用于注册账号</h6>
            <div>
                <div>
                    <label for="number">ICP备案号</label>
                    <input type="text" id="number" class="front-input" disabled value="{$number}">
                </div>
                <div>
                    <label for="username">用户名</label>
                    <input type="text" id="username" class="front-input" maxlength="12">
                </div>
                <div>
                    <label for="displayname">显示名称</label>
                    <input type="text" id="displayname" class="front-input" maxlength="12">
                </div>
                <div>
                    <label for="password">密码</label>
                    <input type="password" id="password" class="front-input" maxlength="18">
                </div>
                <div>
                    <label for="repassword">确认密码</label>
                    <input type="password" id="repassword" class="front-input" maxlength="18">
                </div>
                <div>
                    <label for="email">邮箱</label>
                    <input type="email" id="email" class="front-input" maxlength="25">
                </div>
                <button type="button" class="front-button" onclick="reg()">注册</button>
            </div>
            <div id="tip_list"></div>
        </div>
        <script type="application/javascript">
            function reg(){
                var username = document.getElementById("username").value;
                var displayname = document.getElementById("displayname").value;
                var password = document.getElementById("password").value;
                var repassword = document.getElementById("repassword").value;
                var email = document.getElementById("email").value;
                if(repassword!==password) document.getElementById("tip_list").innerHTML = "<h5 class=\"tip\">确认密码与密码不相同</h5>";
                else {
                    fetch("/user.php/register/info_check", {
                        method: "post",
                        headers: {"Content-Type": "application/x-www-form-urlencoded"},
                        body: `username=${username}&&password=${password}&&displayname=${displayname}&&email=${email}&&number={$number}`
                    })
                        .then(res => res.text())
                        .then(function (res) {
                            var zz = /ok;.+/;
                            if (zz.test(res)) window.open("/user.php/register/end?n={$number}&i=" + res, "_self");
                            else document.getElementById("tip_list").innerHTML = "<h5 class=\"tip\">" + res + "</h5>";
                        })
                }
            }
        </script>
    </div>
</div>
{include file='public@inc/foot'}