<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>安装云梦次元ICP备案系统</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/css/style.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/css/components.css">
</head>
<body class="bg" style="background-image: url('/static/bg.jpg')">
<div class="result" style="color: #ff7c7c;height: 250px;">
    <h4 class="title">错误内容</h4>
    {$error}
</div>
<script src="/static/stisla-2.2.0/dist/assets/modules/jquery.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/popper.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/tooltip.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/moment.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/izitoast/js/iziToast.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/page/modules-toastr.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/sweetalert/sweetalert.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/page/modules-sweetalert.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/stisla.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/scripts.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/custom.js"></script>
<script type="application/javascript">
    swal({
        title: "我们遇到了一点问题",
        text: "我们尝试连接数据库失败了",
    });
</script>
</body>
</html>