<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>安装云梦次元ICP备案系统</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/css/style.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/css/components.css">
</head>
<body class="bg" style="background-image: url('/static/bg.jpg')">
<div class="container">
    <h3 class="title">欢迎使用云梦次元ICP备案系统</h3>
    <h5 class="title">本向导会指引您安装本系统</h5>
    <h6 class="title">请根据以下信息填写网站基本信息</h6>
    <div class="result" style="height: 400px">
        <form action="/install.php/next2b" method="get">
            <div class="form-group">
                <label style="color:white;">网站名称</label>
                <input type="text" class="form-control form-control-sm" value="云梦次元ICP备案系统" name="site_name">
            </div>
            <div class="form-group">
                <label style="color:white;">首页查询文本框占位字符</label>
                <input type="text" class="form-control form-control-sm" value="输入备案号、网站名称或网址来查询备案" name="search_placeholder">
            </div>
            <div class="form-group">
                <label style="color:white;">默认背景图片地址</label>
                <input type="text" class="form-control form-control-sm" value="/static/bg.jpg" name="bg_url">
            </div>
            <div class="form-group">
                <label style="color:white;">新申请的备案默认状态</label>
                <input type="text" class="form-control form-control-sm" value="正常" name="default_icp_status">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>
<script src="/static/stisla-2.2.0/dist/assets/modules/jquery.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/popper.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/tooltip.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/moment.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/izitoast/js/iziToast.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/page/modules-toastr.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/sweetalert/sweetalert.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/page/modules-sweetalert.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/stisla.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/scripts.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/custom.js"></script>
</body>
</html>