<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>安装云梦次元ICP备案系统</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/css/style.css">
    <link rel="stylesheet" href="/static/stisla-2.2.0/dist/assets/css/components.css">
</head>
<body class="bg" style="background-image: url('/static/bg.jpg')">
<div class="container">
    <h3 class="title">欢迎使用云梦次元ICP备案系统</h3>
    <h5 class="title">本向导会指引您安装本系统</h5>
    <h6 class="title">恭喜您已经成功配置数据库信息</h6>
    <h6 class="title">我们已经成功连接到了数据库</h6>
    <h6 class="title">数据表已创建</h6>
    <h6 class="title"><a href="/install.php/next2" style="text-decoration: none;">☞ 点击这里进入下一步配置网站的基本信息吧 ☜</a></h6>
</div>
<script src="/static/stisla-2.2.0/dist/assets/modules/jquery.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/popper.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/tooltip.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/moment.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/izitoast/js/iziToast.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/page/modules-toastr.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/modules/sweetalert/sweetalert.min.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/page/modules-sweetalert.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/stisla.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/scripts.js"></script>
<script src="/static/stisla-2.2.0/dist/assets/js/custom.js"></script>
</body>
</html>